{% extends 'base.html.twig' %}

{% block body %}
    
    <div class ="container">
        <br><a href=" {{ path("contact") }} " class="btn btn-primary">Regresar</a><br><br>
        <hr><hr><h2> <center> Crear <center> </h2><hr><hr>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


    

{% endblock %}
